body {
    display: inline-grid;
    place-items: center;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp3210603.png");
    background-size:cover;
   
}

.title{
  display: flex;
  margin-bottom: 50px;
  background-color: #051b0e;
  background-size:cover;
  color: white;
  border-radius: 5PX;
  border-color: black;
  border-style:groove;
  font-size:xx-large;
  font-weight: 450;

}
.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5 px;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.square {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.square:active,
.active {
    filter: brightness(125%);
}

.red {
    background-color: #EE6352;
}

.blue {
    background-color: #08B2E3;
}

.green {
    background-color: #57A773;
}

.yellow {
    background-color: #FFDF64;
}

#startButton {
    width: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    background-color: #587792;
    padding: 5px;
    border-color: black;
    border-style: groove;
}

#startButton:disabled{
    background-color: #eee;
}

.title{ 
    width: min-content;
}

.winner {
    animation: spin 1s ease-in-out;
}
@keyframes spin{
    100%{ transform: rotate(180deg)}}

    #round{
        color: #eee;
        font-size:xx-large;
        position:relative;
        letter-spacing: 15px;
        margin-top: 75px;
        font-weight:500;
        font-style: italic;
        -webkit-text-stroke: 1px black;
    }