body {
    display: inline-grid;
    place-items: center;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    background: url("https://assets.mixkit.co/videos/preview/mixkit-cyberpunk-style-stage-with-neon-grid-floor-30583-large.mp4") no-repeat;
    background-size: cover;
   
}

.title{
  display: flex;
  align-self:stretch;
  float: left;
  margin-bottom: 100px;
  background-color: #051b0e;
  background:repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #140e29 2px, #140e29 4px);;
  height: 90px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;

}
.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5 px;
}

.buttonContainer {
    display: inline-grid;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 0%;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    -webkit-transition: .3s all ease-in;
    transition: .3s all ease-in;
    transform: rotate(45deg);
}
.buttonContainer:hover, .buttonContainer:focus {
    -webkit-box-shadow: 0px 0px 20px 15px #848e8f;
    box-shadow: 0px 0px 30px 20px #e5ecec;
   
}
.square {
    border-radius: 5px;
    border: #0f0a1e;
    width: 150px;
    height: 150px;
    cursor: pointer;
    -webkit-transition: .3s all ease-in;
    transition: .3s all ease-in;
    border: 2px solid transparent;
}

.square:active,
.active {
    filter:contrast(1500%);
}

.red {
    background-color: #EE6352;
    border: groove;
}
.red:hover, .red:focus {
    -webkit-box-shadow: 0px 0px 20px 15px #EE6352;
    box-shadow: 0px 0px 30px 20px #d15949;
    background-color: #EE6352;
}
.blue {
    background-color: #08B2E3;
    border: groove;
}
.blue:hover, .blue:focus {
    -webkit-box-shadow: 0px 0px 20px 15px #08B2E3;
    box-shadow: 0px 0px 30px 20px #496dd1;
    background-color: #08B2E3;
}

.green {
    background-color: #57A773;
    border: groove;
}
.green:hover, .green:focus {
    -webkit-box-shadow: 0px 0px 20px 15px #57A773;
    box-shadow: 0px 0px 30px 20px #49d192;
    background-color: #57A773;
}

.yellow {
    background-color: #FFDF64;
    border: groove;
}
.yellow:hover, .yellow:focus {
    -webkit-box-shadow: 0px 0px 20px 15px #FFDF64;
    box-shadow: 0px 0px 30px 20px #b4d149;
    background-color: #FFDF64;
}

#startButton {
    width: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    background-color: #587792;
    padding: 5px;
    border-color: black;
    border-style: groove;
    box-shadow: 0 9px #999;
}
#startButton:hover {
    background-color: #181d18;
    box-shadow: 0 9px rgb(88, 88, 88);
    border-color: white;

}

#startButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#startButton:disabled{
    background-color: #eee;
}

.title{ 
    width: min-content;
}

.winner {
    animation: spin 1s ease-in-out;
}
@keyframes spin{
    100%{ transform: rotate(180deg)}}

    #round{
        color: #eee;
        font-size:xx-large;
        position:relative;
        letter-spacing: 15px;
        margin-top: 75px;
        font-weight:500;
        font-style: italic;
        -webkit-text-stroke: 1px black;
    }
.backvideo{
   position:fixed;
   width: 100%;
   right: 0;
   bottom: 0;
   z-index: -1;

}
@media (max-width: 500px){
    .backvideo{
        position:absolute;
        height: 100%;
        
    }
    .square {
        border-radius: 5px;
        border: #0f0a1e;
        width: 75px;
        height:75px;
        cursor: pointer;
        -webkit-transition: .3s all ease-in;
        transition: .3s all ease-in;
        border: 2px solid transparent;
    }
    body {
        flex: auto;
        flex-direction: row;
        width: 100%;
        height: 100%;
        font-family: 'Mulish', sans-serif;
        background: url("https://assets.mixkit.co/videos/preview/mixkit-cyberpunk-style-stage-with-neon-grid-floor-30583-large.mp4") no-repeat;
        background-size:100%;
       
    }
    
    
}